<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean-search margin-space" th:fragment="navigation">
    <div class="container-fluid">
        <a class="navbar-brand"
           th:onclick="|window.location.href='/home'|">Yellow Lund</a>
        <button class="btn navbar-text" sec:authorize="isAuthenticated() && hasRole('ROLE_recruiter')"
                th:onclick="|window.location.href='/applicants'|" th:text="#{navbar.btn.dashboard}">Dashboard
        </button>
        <button class="btn navbar-text" sec:authorize="!hasRole('ROLE_recruiter')"
                th:onclick="|window.location.href='/positions'|" th:text="#{navbar.btn.apply}">Apply
        </button>
        <div class="collapse navbar-collapse row justify-content-end" id="navcol-1">
            <div sec:authorize="isAnonymous()">
                <button class="ms-auto btn action-button navbar-text btn-outline-primary"
                        th:onclick="|window.location.href='/login'|" th:text="#{navbar.btn.login}">
                    Log in
                </button>
                <button class="ms-auto btn action-button navbar-text btn-outline-secondary"
                        th:onclick="|window.location.href='/login'|" th:text="#{navbar.btn.signup}">
                    Sign up
                </button>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button class="ms-auto btn action-button navbar-text btn-outline-primary"
                        th:onclick="|window.location.href='/logout'|" th:text="#{navbar.btn.logout}">
                    Log out
                </button>
            </div>
            <div>
                <div th:if="${#locale.getLanguage() != 'sv'}">
                    <button class="ms-auto btn action-button navbar-text btn-outline-info">
                        <a th:href="@{?lang=sv}" th:text="#{navbar.lang.sv}">Swedish</a>
                    </button>
                </div>
                <div th:if="${#locale.getLanguage() != 'en'}">
                    <button class="ms-auto btn action-button navbar-text btn-outline-info">
                        <a th:href="@{?lang=en}" th:text="#{navbar.lang.en}">English</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</nav>
</body>
<style>
    .margin-space {
        margin-bottom: 60px;
    }
</style>
</html>