<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.applicants}">Applicants</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th th:text="#{applicants.table.name}">Name</th>
                <th th:text="#{applicants.table.surname}">Surname</th>
                <th th:text="#{applicants.table.ssn}">Personnumber</th>
                <th th:text="#{applicants.table.e-mail}">Email</th>
            <tr>
            <tr th:each="applicants : ${applicants}">
                <td>
                    <button class="btn btn-primary"
                            th:onclick="|window.location.href='/applicants/${applicants.getId()}'|"
                            th:text="#{applicants.btn.profile}">
                        Show applicant
                    </button>
                </td>
                <td th:text="${applicants.getName()}"></td>
                <td th:text="${applicants.getSurname}"></td>
                <td th:text="${applicants.getPnr()}"></td>
                <td th:text="${applicants.getEmail()}"></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>