<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${errorTitle}"></title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>Something went wrong! </h1>
        <h2 th:text="${errorMessage}"></h2>
        <a href="/">
            <button class="btn btn-primary btn-lg">Go Home</button>
        </a>
    </div>
</main>
</body>
</html>
