<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>


    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Button is handled by the controller!</h1>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

    td, th {

        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;

    }
</style>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Surname</th>
        <th>Personnumber</th>
        <th>Email</th>


    <tr>
    <tr th:each="applicants : ${applicants}">
    <td><form th:action="@{/Application}" method="get">
        <button name="personId" th:value="${applicants.getId()}" >open application</button>
    </form></td>

    <td th:text="${applicants.getName()}"></td>
    <td th:text="${applicants.getSurname}"></td>
    <td th:text="${applicants.getPnr()}"></td>
    <td th:text="${applicants.getEmail()}"></td>
    </tr>




</table>



</body>
</html>