<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.home}">Home</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 text-start">
                <h1 class="fw-bold" th:text="#{home.heading}"></h1>
                <p th:text="#{home.body}"></p>
                <button class="btn btn-outline-primary btn-lg action-button"
                        sec:authorize="!hasRole('ROLE_recruiter')"
                        th:onclick="|window.location.href='/positions'|"
                        th:text="#{home.btn.apply}" type="button">
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>