<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center;">
    <h1> Recruitment application </h1>
    <form th:action="@{/login}" method="post">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Enter your credentials:</div>
            <div class="card-body">
                <label for="username" class="form-label mt-4">Email address</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                <br>
                <br>
                <input type="submit" name="studentIDCheck" class="btn btn-primary btn-sm" value="login">
                <br>
                <br>
                <input type="submit" class="btn btn-success btn-lg" name="forgotID" value="register">
            </div>
        </div>
    </form>
</div>

</body>
</html>