<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Navbar</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" rel="stylesheet">

</head>
<body th:fragment="navbar">
<nav class="navbar navbar-dark navbar-expand-md bg-dark navigation-clean-search margin-space">
    <div class="container-fluid">
        <a class="navbar-brand"
           th:onclick="|window.location.href='/home'|">Yellow Lund</a>
        <button class="btn navbar-text" sec:authorize="isAuthenticated() && hasRole('ROLE_recruiter')"
                th:onclick="|window.location.href='/applicants'|" th:text="#{navbar.btn.dashboard}">Dashboard
        </button>
        <button class="btn navbar-text" sec:authorize="!hasRole('ROLE_recruiter')"
                th:onclick="|window.location.href='/positions'|">Apply
        </button>
        <div class="collapse navbar-collapse row justify-content-end" id="navcol-1">
            <div sec:authorize="isAnonymous()">
                <button class="ms-auto btn action-button navbar-text btn-outline-primary"
                        th:onclick="|window.location.href='/login'|" th:text="#{navbar.btn.login}">
                    Log in
                </button>
                <button class="ms-auto btn action-button navbar-text btn-outline-secondary"
                        th:onclick="|window.location.href='/signup'|" th:text="#{navbar.btn.signup}">
                    Sign up
                </button>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button class="ms-auto btn action-button navbar-text btn-outline-primary"
                        th:onclick="|window.location.href='/logout'|" th:text="#{navbar.btn.logout}">
                    Log out
                </button>
            </div>
            <div>
                <div th:if="${#locale.getLanguage() != 'sv'}">
                    <button class="ms-auto btn action-button navbar-text btn-outline-info">
                        <a th:href="@{?lang=sv}" th:text="#{navbar.lang.sv}">Swedish</a>
                    </button>
                </div>
                <div th:if="${#locale.getLanguage() != 'en'}">
                    <button class="ms-auto btn action-button navbar-text btn-outline-info">
                        <a th:href="@{?lang=en}" th:text="#{navbar.lang.en}">English</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</nav>
</body>
<style>
    .margin-space {
        margin-bottom: 60px;
    }
</style>
</html>