<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.apply}">Applicants</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 th:text="#{apply.header}">Here you can apply for available positions</h1>
        <span th:text="#{apply.positions.empty}">No available positions</span>
    </div>
</main>
</body>
</html>
