<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.restore.status}">Home</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 text-start">
                <h1 class="fw-bold" th:text="#{restore.status.header}">A new password has been sent to your email</h1>
            </div>
        </div>
    </div>
</main>
</body>
</html>