<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.restore}">restore password</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1 th:text="#{restore.header}">Restore password </h1>
        <div th:text="#{restore.body}">Enter your email to get your new password sent to you</div>
        <form method="post" th:action="@{/restore-status}">
            <div class="mb-3"><input class="form-control" name="email" placeholder="email" required type="email"></div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" th:text="#{restore.btn.send}" type="submit">Send request
                </button>
            </div>
        </form>
        <div th:if="${missingEmail}">
            <span class="text-warning" th:text="#{restore.status.body}"></span>
        </div>
        <div th:if="${notRequestAble}">
            <span class="text-warning" th:text="#{restore.status.not.request.able}"></span>
        </div>
    </div>
</main>
</body>
</html>