<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>restore password</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" rel="stylesheet">
</head>
<body>
<div th:include="navbar"/>
<div class="container hero">
    <h1>Restore password </h1>
    <form method="post" th:action="@{/restore-status}">
        <div>Enter your email to get your new password sent to you</div>
        <div class="mb-3"><input class="form-control" name="email" placeholder="email" type="email"></div>
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">Send request</button>
            <div class="text-warning" th:text="${emailError}"></div>
        </div>
</div>
<div th:include="footer"></div>
</body>
</html>