<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.restore-password}">restore password</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <h1>Hello World</h1>
        <div>Server name: <span th:text="${servername}"></span></div>
        <div>Server port:<span th:text="${serverport}"></span></div>
        <div>Context path:<span th:text="${contextpath}"></span></div>
        <div>Path info:<span th:text="${pathinfo}"></span></div>
        <div>Request url:<span th:text="${requesturl}"></span></div>
        <div>Request uri<span th:text="${requesturi}"></span></div>
    </div>
</main>
</body>
</html>