<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{head.restore-password}">restore password</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container" th:if="${isExpired}">
        <h1 th:text="#{changepassword.expired.header}">Please request a new password!</h1>
        <p th:text="#{changepassword.expired.token}">Your token is expired.</p>
        <button class="btn btn-primary d-block w-100" th:onclick="|window.location.href='/restore'|"
                th:text="#{login.btn.forgot-password}">Request new password
        </button>
    </div>
    <div class="container" th:if="${!isExpired}">
        <h1 th:text="#{changepassword.not.expired.header}">Enter new password</h1>
        <form id="signUpForm" method="post" th:action="@{/change-password}" th:object="${changePasswordForm}">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>
                    <span th:text="#{signup.label.password}">Enter password</span>
                    <input class="form-control" name="password"
                           pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])([^\s]){8,}$" placeholder="Password"
                           required th:field="*{password}"
                           th:placeholder="#{signup.input.password}"
                           th:title="#{signup.label.passwordMessage}" type="password">
                    <span class="text-warning" th:if="${invalidPassword}"
                          th:text="#{signup.msg.invalid.password}"></span>
                </label>
            </div>
            <div class="col-sm-6">
                <label>
                    <span th:text="#{signup.label.re.password}">Re-enter password</span>
                    <input class="form-control" name="confirm-password"
                           pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])([^\s]){8,}$"
                           placeholder="Re-enter password"
                           required th:field="*{rePassword}"
                           th:placeholder="#{signup.input.password}"
                           th:title="#{signup.label.passwordMessage}" type="password">
                    <span class="text-warning" th:if="${invalidPassword}"
                          th:text="#{signup.msg.invalid.password}"></span>
                </label>
            </div>
            <input style="visibility: hidden" th:field="*{token}" th:value="${param.token}">
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" th:text="#{changepassword.not.expired.btn.save}"
                        type="submit">Save
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>