<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{head.summary}">Application summary</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:inline="text">[[${person.getFullName()}]] <span class="text-muted">#[[${id}]]</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small style="font-weight: bold;" th:text="#{summary.role}">Role:</small>
                <p class="text-capitalize" th:inline="text">[[${person.getRole().getName()}]]</p>
                <small style="font-weight: bold;" th:text="#{summary.ssn}">Social Security Number:</small>
                <p th:inline="text">[[${person.getPnr()}]]</p>
                <small style="font-weight: bold;" th:text="#{summary.e-mail}">E-mail:</small>
                <p th:inline="text">[[${person.getEmail()}]]</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 th:text="#{summary.competences}">Competence</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th th:text="#{summary.competence}">Competence</th>
                            <th th:text="#{summary.year-experience}">Years of experience</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="competence : ${competences}">
                            <td class="text-capitalize" th:inline="text">[[${competence.getCompetence().getName()}]]
                            </td>
                            <td th:inline="text">[[${competence.getYearOfExperience()}]] Years</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2 th:text="#{summary.availability}">Availability</h2>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th th:text="#{summary.availability.periods}">Available periods</th>
                                    <th th:text="#{summary.btn.assign}">Assign</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="availability : ${availabilities}">
                                    <td th:inline="text">[[${availability.getPeriod()}]]</td>
                                    <td>
                                        <button class="btn"
                                                th:classappend="${availability.isActive() ? 'btn-primary' : 'disabled'}"
                                                th:text="#{summary.btn.assign}" type="button">Assign person
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>